/msvc/*.sdf
/msvc/*.suo
/msvc/*.user
/msvc/ipch
/msvc/generated_files
/msvc/Win32
/msvc/*.opensdf
/msvc/bin2cppTest.x86.release.xml
/msvc/bin2cppTest.x86.debug.xml
/msvc/bin2cpp
/msvc/bin2cpp_unittest
/msvc/testfilegenerator
/nsis/bin
/third_party
/msvc/common
/docs/outdir
/msvc/TestCLI.testVersion.actual.txt
/msvc/TestCLI.testHelp.actual.txt
/msvc/TestCLI.testNoArguments.actual.txt
/msvc/TestCLI.testMinimum.actual.txt
/msvc/TestCLI.testNoHeader.actual.txt
/msvc/TestCLI.testQuiet.actual.txt
/msvc/TestCLI.testGenerators.actual.txt
/msvc/TestCLI.testOverride.actual.txt
/msvc/TestCommon.testFileModifiedDate.actual.txt
/msvc/TestCLI.testNewFiles.actual.txt
/msvc/TestCLI.testSkipping.actual.txt
/msvc/TestCLI.testUpdating.actual.txt
/msvc/TestCLI.testUpdatingFile.actual.txt
/msvc/TestCLI.testEncoding.actual.txt
